// Homepage //
header {
  background-color: #f3e9f1;

  .container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;

    a{

      .logo {
        height: 50px;
        margin: 20px;
      }
    }

    a {
      img {
        margin: 20px;
        height: 30px;
      }
    }
  }
}

.allProducts {
  text-align: center;
  margin: 60px 0;

  h1 {
    font-size: 30px;
  }

  .row{

    .item {
      padding: 15px;
      
      .content{
        padding: 20px;
        background-color: #f2f2f2;
        border-radius: 25px;
        
        a{
          color: black;
        }

        a:hover { 
          text-decoration: none; 
        }

        img {
          width: 100%;
          height: 180px;
          border-radius: 25px;
          margin-bottom: 15px; 
        } 
      }
    }
  }
}

footer {
  width: 100%;
  background-color: #383638;

  .container {
    padding: 40px;

    .row {

      p{
        font-size: 18px;
        color: white;
        padding: 0;
        margin: 0;
        cursor: pointer;
      }
    }
  }
}

// Single Product Page //
.product {
  padding: 30px;

  a {
    display: flex;
    line-height: 23px;
    margin: 15px;

    img { 
      margin-right: 5px;
      height: 23px;  
    }

    h1 {
      font-size: 20px;
      color: black;
    }
  }

  .container {
    
    .row {
      width: 100%;
      background-color: #f2f2f2;
      border-radius: 25px;
      padding: 25px;
      margin: 35px 0;
      display: flex;

      img{
        margin: 10px 0;
      }

      .productInfo {
        margin: 0 auto;

        #productName{
          margin: 10px 0;
          font-size: 27px;
        }

        #productPrice{
          font-size: 22px;
        }
        
        #productDescription{
          font-size: 18px;
        }

        .dropdown{

          .btn{
            border: 1px solid black;
          }
  
          #productOptions{
            display: none;
            margin-top: 10px;
  
            &.show {
              display: flex;
            }
          }
        }

        span {
          border-radius: 50px;
          color: white;
          font-weight: 500;
          background: linear-gradient( 160deg,rgba(230, 138, 10, 1) 0%,rgba(143, 91, 254, 1) 100%);
          padding: 10px 30px;
          cursor: pointer;
          width: 150px;
          display: block;
          bottom: 0;
          margin: 20px 0;
          transition: 300ms ease-in-out;

        }
      }
    }
  }
}

// Cart //
.cart {
  padding: 30px;

  a {
    display: flex;
    margin: 15px;

    img {
      height: 25px;
      margin-right: 5px;
    }

    h1 {
      font-size: 20px;
      color: black;
    }
  }

  .items {
    padding: 0 15px;
    margin: 40px 0;

    .cartSections{
      display: flex;
      width: 100%;
      margin-top: 20px;
      
      h3{
        border-bottom: 3px solid black;
        font-size: 20px;
        margin-right: 10px;
      }
    }

    .cartProducts {

      .cartProduct{
        margin: 5px 0;
        background-color: #f2f2f2;
        width: 100%;
        height: 60px;
        display: flex;

        h3{
          font-size: 20px;
          line-height: 60px;
        }

        img{
          height: 100%;
        }
  
        .quantity{
          display: flex;
          justify-content: center;
  
          input{
            width: 100%;
            text-align: center;
          }
        }
  
        .btn-remove{
          border: none;
          padding: 0 30px;
        }
      }

    }

    .section{
      display: flex;
      justify-content: space-between;
      margin: 20px 0;

      .cartTotal{
        display: flex;
        align-items: center;
        
        span{
          margin: 0 10px;
        }
      }
  
      #emptyCart{
        background: linear-gradient(160deg, #e68a0a 0%, #8f5bfe 100%);
        color: white;
        padding: 10px 15px;
        border-radius: 10px;
        margin-right: 65px;
        border: none;
        height: 50px;
      }
    }
  }
  
  .info {
    padding: 0 15px;
    
    #submitButton{
      border: none;
      background: linear-gradient(160deg, #e68a0a 0%, #8f5bfe 100%);
      color: white;
      padding: 10px 15px;
      border-radius: 10px;
    }
    #submitButton:disabled{
        background: linear-gradient(160deg, #cacaca 0%, #777777 100%);
    }
  }
}

// Confirmation //
.confirmation {
  
  .container {

    .message{
      text-align: center;
    }
    
    article{
      margin: 40px 0;

      h1{
        font-size: 28px;
      }

      p{
        font-size: 20px;
        font-weight: 300;
      }
    }

    .items {

      h2{
        font-size: 25px;
        padding: 5px 0;
        border-top: 2px solid black;
      }

      .cartProduct{
        margin: 5px 0;
        background-color: #f2f2f2;
        width: 100%;
        height: 60px;
        display: flex;

        h4{
          font-size: 20px;
          line-height: 60px;
          font-weight: 400;
        }

        .quantity{
          display: flex;
          justify-content: center;
  
          input{
            width: 100%;
            text-align: center;
          }
        }
      }

      .total {
        margin-top: 22px;
        border-bottom: 2px solid black;
        display: flex;
        align-items: baseline;

        h3{
          font-size: 22px;
          padding: 5px 0;
        }

        span{
          font-weight: 400;
          margin: 0 10px;
          font-size: 20px;
        }
      }
    }

    .info {
      margin: 40px auto;
      text-align: center;
      width: 80%;
      background-color: #f2f2f2;
      border-radius: 12px;
      padding: 25px;

      h3, h2 {
        font-size: 22px;
      }
    }
  }
}
