header {
  background-color: #f3e9f1;
}
header .container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}
header .container img {
  height: 50px;
  margin: 20px;
}
header .container a img {
  margin: 20px;
  height: 30px;
}

.allProducts {
  text-align: center;
  margin: 60px 0;
}
.allProducts h1 {
  font-size: 30px;
}
.allProducts .row .item {
  padding: 15px;
}
.allProducts .row .item .content {
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 25px;
}
.allProducts .row .item .content a {
  color: black;
}
.allProducts .row .item .content a:hover {
  text-decoration: none;
}
.allProducts .row .item .content img {
  width: 100%;
  height: 180px;
  border-radius: 25px;
  margin-bottom: 15px;
}

footer {
  width: 100%;
  background-color: #383638;
}
footer .container {
  padding: 40px;
}
footer .container .row p {
  font-size: 18px;
  color: white;
  padding: 0;
  margin: 0;
}

article {
  padding: 30px;
}
article a {
  display: flex;
  margin: 15px;
}
article a img {
  margin-right: 5px;
}
article a h1 {
  font-size: 20px;
  color: black;
}
article .container .row {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 25px;
  display: flex;
}
article .container .row img {
  margin: 10px 0;
}
article .container .row .productInfo {
  margin: 0 auto;
}
article .container .row .productInfo #productName {
  margin: 10px 0;
  font-size: 27px;
}
article .container .row .productInfo #productPrice {
  font-size: 22px;
}
article .container .row .productInfo #productDescription {
  font-size: 18px;
}
article .container .row .productInfo .dropdown .btn {
  border: 1px solid black;
}
article .container .row .productInfo .dropdown #productOptions {
  display: none;
  margin-top: 10px;
}
article .container .row .productInfo .dropdown #productOptions.show {
  display: flex;
}
article .container .row .productInfo span {
  border-radius: 50px;
  color: white;
  font-weight: 500;
  background: linear-gradient(160deg, #e68a0a 0%, #8f5bfe 100%);
  padding: 10px 30px;
  cursor: pointer;
  width: 150px;
  display: block;
  bottom: 0;
  margin: 20px 0;
}

.cart {
  padding: 30px;
}
.cart a {
  display: flex;
  margin: 15px;
}
.cart a img {
  height: 25px;
  margin-right: 5px;
}
.cart a h1 {
  font-size: 20px;
  color: black;
}
.cart .items {
  padding: 0 15px;
}
.cart .items .cartSections {
  display: flex;
  width: 100%;
}
.cart .items .cartSections h3 {
  border-bottom: 3px solid black;
  font-size: 20px;
  margin-right: 10px;
}
.cart .items .cartProducts .cartProduct {
  margin: 5px 0;
  background-color: #f2f2f2;
  width: 100%;
  height: 60px;
  display: flex;
}
.cart .items .cartProducts .cartProduct img {
  height: 100%;
}
.cart .items .cartProducts .cartProduct .quantity {
  display: flex;
  justify-content: center;
}
.cart .items .cartProducts .cartProduct .quantity input {
  width: 100%;
}
.cart .items .cartProducts .cartProduct .quantity .button {
  border: 3px solid black;
  border-radius: 50px;
  padding: 0 5px;
  margin: 5px;
}
.cart .items .cartProducts .cartProduct #removeBtn {
  border: none;
  padding: 0 30px;
}
.cart .items .cartTotal {
  display: flex;
  align-items: center;
}
.cart .items .cartTotal span {
  margin: 0 10px;
}
.cart .info {
  padding: 0 15px;
}
.cart .info #submitBtn {
  background: linear-gradient(160deg, #e68a0a 0%, #8f5bfe 100%);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
}

.confirmation .container .items div {
  margin: 5px 0;
  background-color: #f2f2f2;
  width: 100%;
  height: 50px;
}
.confirmation .container .items .total {
  margin-top: 20px;
  background-color: white;
  border-top: #f2f2f2 solid 4px;
  border-bottom: #f2f2f2 solid 4px;
}
.confirmation .container .row div h2 {
  font-size: 25px;
}/*# sourceMappingURL=styles.css.map */